@charset "UTF-8";


         body {
            background-color: rgb(182, 240, 240);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: larger;
        }

        h1 {
            color: blue;
        }

        h2 {
            color: brown;
        }

/*Utilizar Um arquivo só de estilo de CSS é muito mais rápido para editar várias páginas ao mesmo tempo!!*/