@charset "UTF-8";

body{
    background-color: rgb(195, 230, 218);
}

.div {
    background-color: rgb(122, 122, 212);
    display: inline-block;
    list-style-type: none;
    width: 200px;
    height: 200px;
    padding: 10px 10px 10px 10px;
    margin-right: 30px;
    text-align: center;
    border-radius: 10px;
    
}